.aboutus {
    display: flex;
    background-color: black;
    display: list-item;
}
.aboutus {
    width: 100%;
    height: auto;
    display: column;
}
.text {
    color: white;
    display: center;
}
