.contacts-all {
    display: flex;
    background-color: black;
}

.contacts {
    width: 50%;
    height: auto;
    left: 80px;
    display: column;
    margin-left: 5em;
}

h2 {
    color: #f1c324;
}

.text-contacts {
    color: white;
    text-align: left;

}
a:hover {
    color:red;
}
