.container-contacts {
    display: flex;
    background-color: black;
}
@media screen and (max-width:650px) {
    .container-contacts {
        flex-direction: column;
    }
}
.contacts {
    width: 50%;
    height: auto;
    left: 80px;
    display: column;
    margin-left: 5em;
}

h2 {
    color: #f1c324;
}

.text-contacts {
    color: white;
    text-align: left;

}
a:hover {
    color:red;
}
