main #features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    padding: 50px 50px 55px 24px;
    text-align: center
}
.features-title-name {
    font-size: 30px;
    font-family: Dosis, sans-serif;
    font-weight: 500;
    color: var(--features-title-color);
    line-height: 32px;
    text-align: center
}
.features-text {
    font-size: 25px;
    font-family: Dosis, sans-serif;
    font-weight: 400;
    color: orange;
    line-height: 25.6px;
    padding-top: 15px;
    text-align: center
}