footer nav .menu {
    display: flex;
    flex-direction: row;
    margin-left: 5px;
    align-items: center;
    justify-content: space-around;
    flex: 1;
}

footer nav .foot {
    align-items: center;
}
