.foot {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% auto;
}

p {
    color:black;
    font-size: 20px;
    font-weight: bold;
}

a {
    font-size: 20px;
    text-decoration: none;
}

.menu a {
    margin-right: 40px;
    font-weight: bold;
    text-decoration: none;
}

.logo {
    align-items: center;
}