header .head {
    background-image:url(/img/img-fon/vetnam-nebo.jpg);
    background-size: cover;
    background-position: center;
    color: var(--maim-color);
    flex-direction: column;
    font-size: 3.5rem;
    text-align: center;
}
.menu a{
    color:yellow;
    text-align: left;
    width: 100%;
}
@media (min-width: 600px) {
header nav .container {
        display: flex;
    }
header nav .menu {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        flex: 1;
    }
}