@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap'); 

* {
    margin: 0;
    padding: 0;
}
:root {
    font-family: 'Dosis', sans-serif;
    --main-color: black;
}
.container {
    max-width: 980px;
    margin: auto;
}

