@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

.new-year {
    box-sizing: border-box;
}

.new-year {
    background-image: url('../img/img-contacts/new-year.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height:100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}

.new-year-countdown {
    color:rgb(180, 24, 24);
    font-size: 80px;
    font-family: 'Allura';
    font-weight: bold;
}
