.our-tours-carousel .slides-container {
    display: flex;
    background-color: paleturquoise;
    justify-content: space-around;
    object-fit: cover;
}
.button .prev {
    display: flex;
    justify-content: flex-start;
}
.button .next {
    display: flex;
    justify-content: flex-end;
}