
section .logo{
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    font-size: calc(1.325rem + 0.9vw);
    margin-top: 0;

    
}
section .wallpeper{
    max-width: 100%;
    height: auto;
}
section p .about {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
section .botton {
    padding: 1.25rem 2.25rem;
    font-size: 0.85rem;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 10rem;
}


