.vietnam-go {
    background-image: url(../img/img-vietnams/redy-to-go.webp);
    background-size: cover;
    background-position: center;
    min-height: 624px;
}

.vietnam-go .container {
    min-height: 624px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vietnam-go h2 .logo {
    font-family: Dosis, sans-serif;
    font-size: 34px;
    text-align: center;

}

.vietnam-go .container .button {
    background-color: rgb(36, 184, 241);
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    display: inline-block;
    font-size: 12px;

}

.vietnam-go .container .button:hover {
    background-color: rgb(255, 165, 0);

}

@media (min-width:800px) {

    .vietnam-go .container {
        justify-content: flex-start;

    }

    vietnam-go h2 .logo {
        text-align: left;
    }

    .vietnam-go .banner-container {
        width: 50%;
    }
}