header .introduction{
   
    display: flex;
    align-items: center;
    justify-content: center;
}
.information{
    display: flex;
    align-items: center;
    justify-content: center;
}
section .title-tour{
    display: flex;
    align-items: center;
    justify-content: center;
}
